{% extends "::layout.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@ZawajFichesCandidatBundle/Resources/public/css/fichesCandidat.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html"/>
    {% endstylesheets %}
{% endblock %}


{% block body %}
    <div class="row">
        <div class="page-header">
            <h2>FICHES INSCRITS <small> HOMME/FEMME</small></h2>

        </div>

        <div class="jumbotron">
            <h3>Formulaire d'annonce</h3>

            <div class="form-inline" >
              {{ form(form) }}
            </div>

            </div>
        </div>
    </div>



{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {# Script tableau scroll  #}
    <script type="javascript">
        // Change the selector if needed
        var $table = $('table.scroll'),
                $bodyCells = $table.find('tbody tr:first').children(),
                colWidth;

        // Adjust the width of thead cells when window resizes
        $(window).resize(function() {
            // Get the tbody columns width array
            colWidth = $bodyCells.map(function() {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            $table.find('thead tr').children().each(function(i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize(); // Trigger resize handler
    </script>

    <script type="javascript">
        $(document).ready( function () {
            $('#tabRecus').dataTable().columnFilter();
        }
    </script>


{% endblock %}